@color-white-ff:     #ffffff;
@color-black-00:     #000000;
@color-transparent:  hsla(0, 0, 0, 0);

@color-grey-a1: #a1a6aa;

@color-yellow-fb: #fbfbf3;
@color-pink-fe: #fe8258;

@mq-extra-desktop:    1440px;
@mq-desktop:          1224px;
@mq-tablet-land:      1024px;
@mq-large:            979px;
@mq-tablet:           768px;
@mq-tablet-mini:      640px;
@mq-large-phone:      580px;
@mq-phone:            480px;
@mq-phone-mini:       400px;


:root {
    --container-fluid-padding: var(--gap-s);
}