@color-white-ff:     #ffffff;
@color-black-00:     #000000;
@color-transparent:  hsla(0, 0, 0, 0);

@color-black-11: #111827;

@color-grey-53: #535d6a;
@color-grey-a1: #a1a6aa;
@color-grey-cb: #cbcad7;
@color-grey-f3: #f3f4f6;

@color-yellow-d6: #d6a00e;
@color-yellow-fb: #fbfbf3;
@color-yellow-fc: #fcfbf3;

@color-pink-fe: #fe8258;

@color-pink-f6: #f6e7e4;

@color-purple-53: #534de7;

@color-primary-color: @primary_button;

@mq-extra-desktop:    1440px;
@mq-desktop:          1224px;
@mq-tablet-land:      1024px;
@mq-large:            979px;
@mq-tablet:           768px;
@mq-tablet-mini:      640px;
@mq-large-phone:      580px;
@mq-phone:            480px;
@mq-phone-mini:       330px;


:root {
    --container-fluid-padding: var(--gap-s);
}