/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2024   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
#addon_ab__deal_of_the_dayinstalled .bg-icon, #addon_ab__deal_of_the_day .bg-icon {
background-size: contain;
background: transparent url('../../../media/images/addons/ab__addons_manager/logo.png') no-repeat center;
border: none;
}
#addon_ab__deal_of_the_dayinstalled .bg-icon i, #addon_ab__deal_of_the_day .bg-icon i {display: none;} #addon_ab__deal_of_the_day .bg-addon-image {background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PCEtLVpHRjBaVG9nTWpBeU5TMHdOeTB3T1NBeE5EbzFNVG94TURzZ2IzSmtaWEk2SURJek9UZzVPeUJwY0RvZ01UWTFMakl5TGpVNExqSTBNeXd4T0RVdU1qSTFMak16TGpFNE16c2dZV1JrYjI0NklHRmlYMTlrWldGc1gyOW1YM1JvWlY5a1lYazdJR0pwWkRvZ01URTFPRHNnWTI5a1pUb2dRVUpCTFdKRlpqTkVRVU16YW1walYweGpRbGh1UlUxNlRUc2djbU02SUU0PS0tPjxjaXJjbGUgY3g9IjUiIGN5PSI1IiByPSI0IiBmaWxsPSIjY2NjIi8+PC9zdmc+');}
#addon_ab__deal_of_the_dayinstalled .bg-icon, #addon_ab__deal_of_the_day .bg-icon {background-size: contain;background: transparent url('../../../media/images/addons/ab__addons_manager/logo.png') no-repeat center;border: none;}
#addon_ab__deal_of_the_dayinstalled .bg-icon i, #addon_ab__deal_of_the_day .bg-icon i {display: none;} #addon_ab__deal_of_the_day .bg-addon-image {background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PCEtLVpHRjBaVG9nTWpBeU5TMHdOeTB3T1NBeE5EbzFNVG94TURzZ2IzSmtaWEk2SURJek9UZzVPeUJwY0RvZ01UWTFMakl5TGpVNExqSTBNeXd4T0RVdU1qSTFMak16TGpFNE16c2dZV1JrYjI0NklHRmlYMTlrWldGc1gyOW1YM1JvWlY5a1lYazdJR0pwWkRvZ01URTFPRHNnWTI5a1pUb2dRVUpCTFdKRlpqTkVRVU16YW1walYweGpRbGh1UlUxNlRUc2djbU02SUU0PS0tPjxjaXJjbGUgY3g9IjUiIGN5PSI1IiByPSI0IiBmaWxsPSIjY2NjIi8+PC9zdmc+');}
#addon_ab__deal_of_the_day .addons-addon-icon__image--label {background: transparent url('../../../media/images/addons/ab__addons_manager/logo.png') no-repeat center;font-size: 0;}
#addon_ab__deal_of_the_day .addons-addon-icon__image--label {
background: transparent url('../../../media/images/addons/ab__addons_manager/logo.png') no-repeat center;
font-size: 0;
}
.bmicon-ab--promotions, .bmicon-ab--deal-of-the-day, .bmicon-ab--promotion-main-data, .bmicon-ab--multi-deal-of-the-day, .bmicon-ab--promotion-categories-filter {
background: transparent url('../../../media/images/addons/ab__addons_manager/logo.png') no-repeat 0 0;
background-size: contain;
}
.ab__dotd-weekend {
color: #79c6f0;
}
.ab__dotd_month_schedule {
.TimeSheet-colHead {
text-align: center;
}
td {
min-width: 32px;
}
}
.ab__dotd_dbutton {
display: flex;
flex-wrap: nowrap;
white-space: nowrap;
align-items: center;
label {
margin-right: 20px;
display: initial;
}
}
.ab__dotd_picker .choose-input input[type="text"] {
width: 179px;
}