/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2024   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/

.ab-smc-description {
    @media(max-width: 1023px) {
        .ut2-pb-mobile &.ui-accordion-content:not(.ab-smc-opened) {
            overflow: hidden;
        }
    }

    &.ab-smc-opened {
        max-height: initial !important;
        margin-bottom: 0 !important;
    }

    .ab-smc-more {
        display: flex;
        align-items: center;

        span {
            font-size: var(--font-size-medium);
            gap: var(--gap-xxs);
        }

        i {
            font-family: uni2-icons, sans-serif;
            line-height: 1;
            font-size: 20px;
            font-style: normal;
            width: 10px;
            margin: 0;
            justify-content: center;

            &:after {
                content: "\e908";
            }
        }
    }
}