.ty-link-unlink-provider {
    .ty-hybrid-auth__add {
        top: 24px;
        left: 14px;
        font-size: 44px;
    }
}

.ty-hybrid-auth__icon {
    .ty-hybrid-auth__remove {
        top: -10px;
        left: 52px;
    }
}
