.sd-checkout-cancel-text {
    & > div {
        border: 2px solid @color-primary-color;
        padding: var(--gap-s);
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;
        gap: var(--gap-xs);

        .ty-icon {
            font-size: 18px;
            line-height: 1;
        }
    }

    .litecheckout__ab_steps > div.row-fluid > div > & {
        padding-left: 0;
    }
}