.ty-company-detail__info-list:not(.ty-company-detail_info-first) {
    display: none;
}
.ut2-gl__bottom .product-description {
  margin: 5px 0 !important;
}
@media (max-width:768px) {
.grid-list:not([class*="scroll"]):not(.ut2-load-more-wrap) .ut2-gl__item:hover .ut2-gl__body{
      position: static;
      inset: auto;
      width: 100%;
      height: auto;
      z-index: auto;
      box-shadow: none;
      padding: var(--gap-sm);
box-sizing: border-box !important;
  }
}
@media (min-width:768px) {
.sd-company-apply-page-banners .ut2-banner .ut2-a__content {
  min-height: 350px;
}
}
.litecheckout__submit-btn__order-total {
  display: none;
}
.cat-view-grid .ty-pagination__bottom, .lr-empty-search-page__banner,.ut2-gl__amount:empty {
  display: none !important;
}
.ut2-gl__item .sd-product-info {
  margin-top: unset !important;
}
.product-description:has(.ty-icon-location-arrow) {
  color: var(--color-font-lighten) !important;
}
.product-description {
  color: black !important;
  }

/* #101927226 */
.ut2-top-my-account span {
    display: none !important;
}

/* 101927226 */
.ut2-top-cart-content a > span {
    display: none !important;
}
