// Indigo.less

// Custom code
.ty-icon-star-empty {
	color: @base10;
}

// Remove this code to change the color of the icons in the menu
.ut2-h__menu .ut2-menu__item {
	.lm_bg_color() when (lightness(@menu) < 70%) {
		.item-icon img.ut2-mwi-icon {
			filter: invert(1) brightness(3);
		}
	}
	.lm_bg_color() when (lightness(@abt__ut2_containers_header_use_color_menu_on_hover) < 70%) {
		&:hover .item-icon img.ut2-mwi-icon {
			filter: invert(1) brightness(3);
		}
	}
	.lm_bg_color() when (lightness(@abt__ut2_containers_header_use_color_menu_on_hover) > 70%) {
		&:hover .item-icon img.ut2-mwi-icon {
			filter: invert(0);
		}
	}
	.lm_bg_color();
}

// ======================================================= ##Variables

@rounded_corners: false;
@links: #00ac89;
@menu_links: #ffffff;
@menu: #792c9b;
@base: #e4e4e4;
@font: #333333;

@primary_button: #792c9b;
@primary_button_color: #ffffff;
//@primary_button_hover: #792c9b;

@secondary_button: #00ac89;
//@secondary_button_color: #ffffff;
//@secondary_button_hover: #747474;

@tertiary_button: #f0f0f0;
@tertiary_button_color: #1e1e1e;
@tertiary_button_hover: #f6f6f6;

@sidebar: #f5f5f7;
@price: #000000;
@discount_label: #f62559;
@in_stock: #00ac89;
@out_of_stock: #8c8c8c;
@top_panel_links: #8c8c8c;
@top_panel_text: #8c8c8c;
@footer_text: #b2e5d8;
@decorative: #f62559;

@general_bg_color: #ffffff;
@general_bg_image: #ffffff;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #00ac89;
@footer_bg_full: false;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #00ac89;

// Font - Open Sans for heading: 'Open Sans','Helvetica Neue','Arial',-apple-system,sans-serif;
// Font - Open Sans for regular text: -apple-system,BlinkMacSystemFont,'Open Sans','Helvetica Neue','Arial',sans-serif;
// Font - Inter for heading: 'Inter','Helvetica Neue','Arial',-apple-system,sans-serif;
// Font - Inter for regular text: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;
// Font - Montserrat for heading: 'Montserrat','Helvetica Neue','Arial',-apple-system,sans-serif;
// Font - Montserrat for regular text: -apple-system,BlinkMacSystemFont,'Montserrat','Helvetica Neue','Arial',sans-serif;

@body_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;
@body_font_size: 14px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: 'Inter','Helvetica Neue','Arial',-apple-system,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: 900;
@links_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;;
@links_font_size: 14px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: 400;
@price_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;;
@price_font_size: 18px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: 700;
@buttons_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;;
@buttons_font_size: 15px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: 600;

// Only this style ------------------------------------

@default_bt_color: #333333;
@main_color: #00ac89;
@grid_list_title_color: #333333;
@abt__ut2_general_sticky_panel_background_color: #00ac89;
@abt__ut2_general_sticky_panel_icon_color: #ffffff;
@abt__ut2_containers_header_elements_brightness: light;
@abt__ut2_containers_top_panel_height: 33px;
@abt__ut2_containers_header_height: 70px;
@abt__ut2_containers_header_hz_menu_height: 46px;
@abt__ut2_containers_header_add_header_mask: true;

// Mix color
@mix-lighten-font: 35%;
@mix-lighten-max-font: 60%;
@mix-discount_label_lighten: 40%;

// Fill
@fill-color-box: #ecdff2;
@title-color-box: #333333;
@fill-gray-box: #f5f5f7;

// General
@abt__ut2_general_use_rounding: full;
@abt__ut2_general_use_rounding_blocks: full;
@abt__ut2_general_use_titles_uppercase: false;
@abt__ut2_general_style_tabs: type1;
@abt__ut2_general_stars_rating_color: #ffb301;
@abt__ut2_general_browser_interface_bg: #ffffff;
@abt__ut2_general_buttons_use_icon_cart: type7;

@abt__ut2_general_labels_style: as_circle;
@abt__ut2_general_labels_use_outline: false;
@abt__ut2_general_labels_use_shadow: false;
@abt__ut2_general_labels_use_text_shadow: false;

@abt__ut2_general_buttons_style: use_background;
@abt__ut2_general_buttons_use_text_uppercase: false;
@abt__ut2_general_buttons_use_shadow: false;
@abt__ut2_general_buttons_use_gradient: false;

// Containers
@abt__ut2_containers_header_add_delimiters: false;
@abt__ut2_containers_header_use_color_menu_on_hover: #642382;
@abt__ut2_containers_header_use_color_elements_on_hover: #642382;
@abt__ut2_containers_header_use_color_icons: #1bcfaa;
@abt__ut2_containers_header_use_animation_for_not_empty_cart: false;

// Product list
@abt__ut2_product_list_show_grid_border: none;
@abt__ut2_product_list_mask_images_gallery: true;
@abt__ut2_product_list_use_elements_alignment: use;
@abt__ut2_product_list_extend_grid_item_on_hover: true;
@abt__ut2_product_list_grid-list_product_name_font_weight: normal;

// Products
@abt__ut2_products_mask_images_gallery: false;
@abt__ut2_products_bordered_images_gallery: false;
@abt__ut2_products_sticky_columns: true;

// Checkout
@checkout_link: #009d75;
@checkout_input_border: #e3e3e3;
@checkout_selected_input_border: #7d568f;
@checkout_step_title: #782c9b;
@checkout_input_text: #333333;
@checkout_input_label: #bcbcbc;
@checkout_control_border: #e3e3e3;
@checkout_selected_control_border: #009d75;
@checkout_control_background: #ffffff;
@checkout_selected_control_background: #e7f6f1;
@checkout_control_title: #7d568f;
@checkout_control_description: #8c8c8c;
@checkout_control_label: #8c8c8c;
@checkout_terms_background: #fef1f5;

// Video Gallery
@abt__ut2_addons_ab__video_gallery_block_bg: #009d75;

// Deal of the day
@abt__ut2_addons_ab__deal_of_the_day_block_background: #ffffff;
@abt__ut2_addons_ab__deal_of_the_day_block_fonts_color: #333333;
@abt__ut2_addons_ab__deal_of_the_day_bright_color_promotion_title: true;
@abt__ut2_addons_ab__deal_of_the_day_bordered_block: true;
@abt__ut2_addons_ab__deal_of_the_day_shadow_block: false;


// Vendor colors
@abt__ut2_vendor_vendor_info_background: #f8f8f8;
@abt__ut2_vendor_vendor_info_font_main: #333333;
@abt__ut2_vendor_vendor_info_font_additional: #8c8c8c;
@abt__ut2_vendor_vendor_info_links: #7d568f;
@abt__ut2_vendor_vendor_menu_background: #00ac89;
@abt__ut2_vendor_vendor_menu_active_background: #17a285;
@abt__ut2_vendor_vendor_menu_item: #ffffff;
@abt__ut2_vendor_vendor_menu_item_active: #ffffff;
