// Malachite_dark.less

// Remove this code to change the color of the icons in the menu
.ut2-h__menu .ut2-menu__item {
    .lm_bg_color() when (lightness(@menu) < 70%) {
        .item-icon img.ut2-mwi-icon {
            filter: invert(1) brightness(3);
        }
    }
    .lm_bg_color() when (lightness(@abt__ut2_containers_header_use_color_menu_on_hover) < 70%) {
        &:hover .item-icon img.ut2-mwi-icon {
            filter: invert(1) brightness(3);
        }
    }
    .lm_bg_color() when (lightness(@abt__ut2_containers_header_use_color_menu_on_hover) > 70%) {
        &:hover .item-icon img.ut2-mwi-icon {
            filter: invert(0);
        }
    }
    .lm_bg_color();
}

// Customs ===================================================
body.sticky-fc-panel .top-sticky-panel__filters {
    background: @header_bg;
    border-bottom: 1px solid @base5;
}
.ut2-pn .ut2-pn__icon,
.default-header .account-cart-grid .ty-dropdown-box__title i {
    @media (min-width: 1024px) {
        color: var(--color-main) !important;
    }
}

// Gradient color of marked title elements
[class*="title"] mark {
    background: linear-gradient(to left, #4caeff, #00a738);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Backlighting of buttons
.ty-btn__primary,
.litecheckout__submit-btn,
.top-logo .ty-dropdown-box__title[id],
.top-search .ty-dropdown-box__title[id] {
    &:hover {
        box-shadow: 0 0 10px @primary_button;
    }
}
.ty-btn__secondary {
    &:hover {
        box-shadow: 0 0 10px @secondary_button;
    }
}
.ut2-filters > div .ty-product-filters__tools .ty-product-filters__reset-button,
.ty-btn__outline {
    &.ty-btn, &.load-more-btn {
        &:hover {
            box-shadow: inset 0 0 0 2px @primary_button, 0 0 10px @primary_button;
        }
    }
}

// Vendor block Legacy
.ut2-vendor-block {
    background: var(--color-general);

    .image_bg_picker() when (@general_bg_image = #ffffff) {
        img {
            background: white;
            border-radius: var(--border-radius);
            padding: 5px;
        }
    }
    .image_bg_picker();
}

// Stickers
.ab-sticker__tooltip {
    background: var(--color-general);
    box-shadow: inset 0 0 0 1px @base, 0 5px 15px @content_bg;
}

// Hide description Leagcy
.ut2-cat-container .ab-smc-description .ab-smc-more {
    background-color: @content_bg;

    &:after {
        background-image: linear-gradient(to top, @content_bg, fade(@content_bg, 0%));
    }
}

// Deal of the Day
.js-counter {
    background: var(--color-general);

    > div > span {
        color: var(--color-font);
    }
}

// ======================================================= ##Variables

@rounded_corners: true;
@links: #5c9ed4;
@menu_links: #ffffff;
@menu: #00a738;
@base: #3e3e3e;
@font: #ffffff;

@primary_button: #00a738;
@primary_button_color: #ffffff;
//@primary_button_hover: #333333;

@secondary_button: #328cd6;
//@secondary_button_color: #ffffff;
//@secondary_button_hover: #747474;

@tertiary_button: #5e5e5e;
//@tertiary_button_color
//@tertiary_button_hover: #6e6e6e;

@sidebar: #1e1e1e;
@price: #ffffff;
@discount_label: #eb5b2e;
@in_stock: #38a25b;
@out_of_stock: #808080;
@top_panel_links: #808080;
@top_panel_text: #808080;
@footer_text: #808080;
@decorative: #eb5b2e;

@general_bg_color: #2e2e2e;
@general_bg_image: #ffffff;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #000000;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #000000;

@header_bg: #000000;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #000000;

@content_bg: #1e1e1e;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #000000;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #000000;

// Font - Open Sans for heading: 'Open Sans','Helvetica Neue','Arial',-apple-system,sans-serif;
// Font - Open Sans for regular text: -apple-system,BlinkMacSystemFont,'Open Sans','Helvetica Neue','Arial',sans-serif;
// Font - Inter for heading: 'Inter','Helvetica Neue','Arial',-apple-system,sans-serif;
// Font - Inter for regular text: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;
// Font - Montserrat for heading: 'Montserrat','Helvetica Neue','Arial',-apple-system,sans-serif;
// Font - Montserrat for regular text: -apple-system,BlinkMacSystemFont,'Montserrat','Helvetica Neue','Arial',sans-serif;

@body_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;
@body_font_size: 14px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: 'Inter','Helvetica Neue','Arial',-apple-system,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: 900;
@links_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;;
@links_font_size: 14px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: 400;
@price_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;;
@price_font_size: 18px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: 700;
@buttons_font: -apple-system,BlinkMacSystemFont,'Inter','Helvetica Neue','Arial',sans-serif;;
@buttons_font_size: 15px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: 600;

// Only this style ------------------------------------

@default_bt_color: #ffffff;
@main_color: #00a738;
@grid_list_title_color: #ffffff;
@abt__ut2_general_sticky_panel_background_color: #2e2e2e;
@abt__ut2_general_sticky_panel_icon_color: #00a738;
@abt__ut2_containers_header_elements_brightness: dark;
@abt__ut2_containers_top_panel_height: 33px;
@abt__ut2_containers_header_height: 70px;
@abt__ut2_containers_header_hz_menu_height: 46px;
@abt__ut2_containers_header_add_header_mask: true;

// Mix color
@mix-lighten-font: 55%;
@mix-lighten-max-font: 35%;
@mix-discount_label_lighten: 0%;

// Fill
@fill-color-box: #1a3420;
@fill-gray-box: #3e3e3e;
@title-color-box: #ffffff;

// General
@abt__ut2_general_use_rounding: full;
@abt__ut2_general_use_rounding_blocks: full;
@abt__ut2_general_use_titles_uppercase: false;
@abt__ut2_general_style_tabs: type2;
@abt__ut2_general_stars_rating_color: #ff9800;
@abt__ut2_general_browser_interface_bg: #1e1e1e;
@abt__ut2_general_buttons_use_icon_cart: type3;

@abt__ut2_general_labels_style: as_circle;
@abt__ut2_general_labels_use_outline: false;
@abt__ut2_general_labels_use_shadow: false;
@abt__ut2_general_labels_use_text_shadow: false;

@abt__ut2_general_buttons_style: use_background;
@abt__ut2_general_buttons_use_text_uppercase: false;
@abt__ut2_general_buttons_use_shadow: false;
@abt__ut2_general_buttons_use_gradient: false;

// Containers
@abt__ut2_containers_header_add_delimiters: false;
@abt__ut2_containers_header_use_color_menu_on_hover: #06862f;
@abt__ut2_containers_header_use_color_elements_on_hover: #06862f;
@abt__ut2_containers_header_use_color_icons: #ffffff;
@abt__ut2_containers_header_use_animation_for_not_empty_cart: false;

// Product list
@abt__ut2_product_list_show_grid_border: solid_with_margins;
@abt__ut2_product_list_mask_images_gallery: true;
@abt__ut2_product_list_use_elements_alignment: use;
@abt__ut2_product_list_extend_grid_item_on_hover: true;
@abt__ut2_product_list_grid-list_product_name_font_weight: normal;

// Products
@abt__ut2_products_mask_images_gallery: true;
@abt__ut2_products_bordered_images_gallery: false;
@abt__ut2_products_sticky_columns: true;

// Checkout
@checkout_link: #008dc2;
@checkout_input_border: #3e3e3e;
@checkout_selected_input_border: #008dc2;
@checkout_step_title: #00a738;
@checkout_input_text: #ffffff;
@checkout_input_label: #808080;
@checkout_control_border: #3e3e3e;
@checkout_selected_control_border: #00a738;
@checkout_control_background: #1e1e1e;
@checkout_selected_control_background: #1a3420;
@checkout_control_title: #808080;
@checkout_control_description: #808080;
@checkout_control_label: #808080;
@checkout_terms_background: #3e3e3e;

// Video Gallery
@abt__ut2_addons_ab__video_gallery_block_bg: #000000;

// Deal of the day
@abt__ut2_addons_ab__deal_of_the_day_block_background: #eb5b2e;
@abt__ut2_addons_ab__deal_of_the_day_block_fonts_color: #ffffff;
@abt__ut2_addons_ab__deal_of_the_day_bright_color_promotion_title: false;
@abt__ut2_addons_ab__deal_of_the_day_bordered_block: false;
@abt__ut2_addons_ab__deal_of_the_day_shadow_block: false;


// Vendor colors
@abt__ut2_vendor_vendor_info_background: #2e2e2e;
@abt__ut2_vendor_vendor_info_font_main: #1e1e1e;
@abt__ut2_vendor_vendor_info_font_additional: #808080;
@abt__ut2_vendor_vendor_info_links: #00a738;
@abt__ut2_vendor_vendor_menu_background: #00a738;
@abt__ut2_vendor_vendor_menu_active_background: #00862a;
@abt__ut2_vendor_vendor_menu_item: #ffffff;
@abt__ut2_vendor_vendor_menu_item_active: #ffffff;
