.mixin-scroll-mobile() {
    @media (max-width: @mq-tablet - 1) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        overflow-x: auto;
        overflow-y: hidden;

        & > div {
            padding-left: var(--container-fluid-padding);
            padding-right: var(--container-fluid-padding);
        }
    }

    @media (pointer: coarse) {
        .mixin-no-scrollbar();
        padding-bottom: 0;
    }
}

.rmt-full-width-scroll-mobile,
.rmt-full-width-scroll-mobile-mainbox > .ty-mainbox-body {
    .mixin-scroll-mobile();
}

.bg-white {
    --bg-color: @color-white-ff;

    background: var(--bg-color);
}

.bg-yelllow {
    --bg-color: @color-yellow-fb;

    background: var(--bg-color);
}

@sd-h3-title-color: @color-grey-a1;

.sd-h3-title {
    .ty-mainbox-simple-title,
    .ty-mainbox-simple-title a,
    .ty-mainbox-simple-title span {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: @body_font_size;
        color: @sd-h3-title-color;
        padding: 0;
        border-bottom: none;
    }
}