.ut2-gl__item {
    &:hover {
        .sd-product-info .ut2-gl__bottom {
            .grid-list__load-more & {
                display: block;
            }
        }
    }

    .ut2-gl__image {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .ut2-gl__price {
        flex-grow: 0;
    }

    .ut2-gl__bottom {
        & + .sd-product-info {
            margin-top: 0;
        }
    }

    .ty-btn__big {
        text-transform: none;
    }

    .sd-product-info {
        margin-top: var(--gap-sm);
    }
}