.ut2-gl {
    --shadow-gap: 4px;

    .bg-yelllow & {
        @media (min-width: @mq-tablet) {
            margin-left: calc(var(--shadow-gap) * -1);
            margin-right: calc(var(--shadow-gap) * -1);
        }
    }
}

.ut2-gl__item {
    &:hover {
        .sd-product-info .ut2-gl__bottom {
            .grid-list__load-more & {
                display: block;
            }
        }
    }

    .ut2-gl__image {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .ut2-gl__body {
        --shadow-color: @general_bg_color;

        box-shadow: inset 0 0 0 var(--shadow-gap) var(--shadow-color);
        border-radius: var(--border-radius-box);

        .bg-yelllow & {
            --shadow-color: var(--bg-color);
        }
    }

    .ut2-gl__price {
        flex-grow: 0;
    }

    .ut2-gl__bottom {
        & + .sd-product-info {
            margin-top: 0;
        }
    }

    .ty-btn__big {
        text-transform: none;
    }

    .sd-product-info {
        margin-top: var(--gap-sm);
    }
}

.sd-price-prefix {
    font-size: @price_font_size - 2;
    text-transform: lowercase;
}

.ab-stickers-container__product_labels {
    &.ab-stickers-container__TL {
        left: 6px;
        top: 4px;
    }
}

@sd-price-trial-label-color: @color-pink-fe;

.sd-price-trial-label {
    padding: 2px var(--gap-xs);
    text-transform: uppercase;
    position: relative;
    top: -2px;
    border: 2px solid;
    color: @sd-price-trial-label-color;
    font-size: 11px;
    font-weight: 500;
    border-radius: var(--border-radius);
    margin-left: 2px;
    margin-bottom: 4px;
    display: inline-flex;
    align-items: center;
    line-height: 1;

    @media (max-width: @mq-tablet - 1) {
        display: none;
    }

    &--mobile-view {
        justify-content: center;
        margin-top: var(--gap-sm);

        @media (max-width: @mq-tablet - 1) {
            display: inline-flex;
        }

        @media (min-width: @mq-tablet) {
            display: none;
        }
    }

    .ut2-pb__sticky-add-to-cart_block & {
        display: none;
    }
}