/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2025   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
#content_general {
.abt__ut2_vertical_image_align,
.abt__ut2_vertical_background_align {
display: inline-flex;
width: fit-content;
float: left;
}
.abt__ut2_horizontal_image_align,
.abt__ut2_horizontal_background_align {
width: fit-content;
display: inline-flex;
}
}
.abt__ut2_vertical_image_align,
.abt__ut2_horizontal_image_align,
.abt__ut2_vertical_background_align,
.abt__ut2_horizontal_background_align {
label {
&.btn {
font-weight: normal;
}
> i {
font-size: 18px;
}
&:has(input[type="radio"]:checked) {
color: var(--cs-text-color);
background: var(--cs-btn-background-highlight);
> i {
color: var(--cs-link-color);
}
}
}
input[type="radio"] {
display: none;
}
}
#overlay_abt__ut2_image_v_position,
#overlay_abt__ut2_image_h_position,
#overlay_abt__ut2_background_v_position,
#overlay_abt__ut2_background_h_position {
&.btn-group {
margin-left: 10px;
}
}
#addon_abt__unitheme2installed .bg-icon, #addon_abt__unitheme2 .bg-icon {background-size: contain;background: transparent url('../../../media/images/addons/abt__unitheme2/logo.png') no-repeat center;border: none;}
#addon_abt__unitheme2installed .bg-icon i, #addon_abt__unitheme2 .bg-icon i {display: none;} #addon_abt__unitheme2 .bg-addon-image {background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PCEtLVpHRjBaVG9nTWpBeU5pMHdNeTB4T0NBd09UbzBNRG8xT0RzZ2IzSmtaWEk2SURJek9UZzVPeUJwY0RvZ01UZzFMakl5TlM0ek15NHhORE03SUdGa1pHOXVPaUJoWW5SZlgzVnVhWFJvWlcxbE1qc2dZbWxrT2lBeE1qTXdPeUJqYjJSbE9pQkJRa0V0T0hCS1RrVXdUR0V6TWxSb01YUnZhVXhEZWxCbE95QnlZem9nLS0+PGNpcmNsZSBjeD0iNSIgY3k9IjUiIHI9IjQiIGZpbGw9IiNjY2MiLz48L3N2Zz4=');}
#addon_abt__unitheme2 .addons-addon-icon__image--label {background: transparent url('../../../media/images/addons/abt__unitheme2/logo.png') no-repeat center;font-size: 0;}
.abt-ut2-doc {
border-radius: var(--cs-base-border-radius);
background-color: var(--cs-info-background);
border: 1px solid var(--cs-info-border);
color: var(--cs-info-text);
margin: 0 0 20px;
padding: 5px 10px;
text-align: center;
}
.btn {
font-weight: bold;
}
textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
&:hover {
border-color: color-mix(in srgb, var(--cs-gray-light) 20%, var(--cs-input-border));
}
&:focus {
box-shadow: inset 0 1px 1px var(--cs-shadow7-color);
}
}
select {
&:hover {
border-color: color-mix(in srgb, var(--cs-gray-light) 20%, var(--cs-input-border));
}
}
.nav-tabs > li.active > a {
font-weight: bold;
}
.nav-tabs > li:not(.active) > a {
color: var(--cs-link-color);
&:hover {
background: var(--cs-btn-primary-background);
color: var(--cs-input-background);
text-shadow: none;
}
}
.bmicon-abt--ut2-fly-menu,
.bmicon-abt--ut2-advanced-subcategories-menu,
.bmicon-abt--ut2-lite-checkout-promotion-coupon,
.bmicon-abt--ut2-lite-checkout-place-order-button,
.bmicon-abt--ut2-block-opener,
.bmicon-abt--ut2-contacts-manually{
background: transparent url('../../../media/images/addons/abt__unitheme2/logo.png') no-repeat 0 0;
background-size: contain;
}
.abt-ut2-not-active-btn {
pointer-events: none;
background-color: #eee;
border: 1px solid #eee;
}
.attention-field {
display: flex;
justify-content: center;
background-color: var(--cs-error-background);
border: 1px solid var(--cs-error-border);
border-radius: 4px;
padding: 6px;
}
label[for*="banners_properties_descr"] {
min-width: 100%;
}
.themes .themes-list > .span3 {
&:nth-child(9), &:nth-child(13), &:nth-child(17) {
margin-left: 0;
}
}
[id*="sw_banner"].cm-combination.open > span {
&:not(.hidden) {
display: none;
}
&.hidden {
display: inline-block;
}
}
form[name='banners_form'] {
.cs-tooltip__icon, .cs-icon--type-question-sign {
--cs-icon-size: 18px;
opacity: 0.6;
}
.cs-icon.icon-remove-sign {
display: inline;
margin: initial;
}
.image-delete {
position: relative;
top: 3px;
text-decoration: none !important;
+ .upload-filename {
font-style: italic;
}
}
.abt-ut2-banner-use-own-value {
display: none;
margin: 2px 15px;
span.info {
color: red;
}
&.for_device {
display: inline-block;
position: absolute !important;
left: 0;
}
}
#elm_banner_abt__ut2_tablet_main_image,
#elm_banner_abt__ut2_mobile_main_image,
#elm_banner_abt__ut2_tablet_background_image,
#elm_banner_abt__ut2_mobile_background_image{
display: inline-block;
&.hidden {
display: none;
}
}
label[for="elm_banner_abt__ut2_tablet_use"], label[for="elm_banner_abt__ut2_mobile_use"] {
background-color: var(--cs-error-background);
border: 1px solid var(--cs-error-border);
border-radius: 4px;
padding: 6px;
font-weight: bold;
&:has(~ .controls input[type="checkbox"]:checked) {
background: var(--cs-success-background);
border-color: var(--cs-success-border);
color: var(--cs-success-text);
}
}
[id^="content_abt__ut2_banner_tab_"] .attach-images {
display: inline-block;
&.hidden {
display: none;
}
}
[id$="_mobile"], [id$="_tablet"] {
> .control-group {
position: relative;
margin-bottom: 0;
padding: 10px 10px 10px 50px;
> .control-group + .control-group {
margin-left: 210px;
}
&:before {
content: "";
border-left: 1px solid #eee;
position: absolute;
left: 50px;
display: inline-block;
height: 100%;
margin: -10px 0;
}
}
input[type="checkbox"] {
&:checked {
}
&:disabled {
cursor: not-allowed !important;
}
}
}
.control-group {
margin-bottom: 2px;
}
.controls {
margin-left: 220px;
> input, > textarea[class*="span"] {
max-width: 100%;
}
}
.abt-ut2-banner-use-own-value.for_device + .controls {
margin-left: 0;
input[type="text"], input[type="password"], textarea {
max-width: 100%;
}
}
.control-label {
width: 200px;
line-height: 100%;
margin: 0 10px 0 0;
padding: 0 5px 0 0;
min-height: 32px;
display: flex;
align-items: center;
justify-content: flex-end;
pointer-events: none !important;
a.cm-tooltip {
pointer-events: visible !important;
z-index: 1;
}
&.disabled, &.disabled + .abt-ut2-banner-use-own-value.for_device {
position: relative;
opacity: .5;
filter: grayscale(100%);
a.cm-tooltip {
display: none;
}
}
}
.abt-ut2-overlay {
&.active {
&:before {
content: "";
width: 100%;
height: 100%;
background: transparent;
display: inline-block;
position: absolute;
z-index: 10000;
cursor: not-allowed !important;
}
> input, > select, > textarea, .attach-images {
opacity: .5;
filter: grayscale(100%);
pointer-events: none !important;
cursor: not-allowed !important;
}
}
}
#overlay_abt__ut2_mobile_padding,
#overlay_abt__ut2_tablet_padding,
#overlay_abt__ut2_padding {
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 10px;
input[size="5"] {
width: 60px;
}
}
#overlay_abt__ut2_mobile_title,
#overlay_abt__ut2_tablet_title {
p.description {
display: none;
}
}
[id$="_mobile"], [id$="_tablet"] {
.object-products_mobile, object-products_tablet, .object-products, [name="banner_data[abt__ut2_mobile_class]"] ~ .muted.description {
display: none;
}
}
[id$="_color"] {
.input-prepend {
.sp-replacer.btn {
padding: 7px;
border: 0;
.sp-preview {
border-radius: 4px;
overflow: hidden;
}
}
}
}
.btn.btn-group-checkbox__label {
font-size: 12px;
padding: 3px 6px;
margin: 3px 0;
line-height: normal;
border-radius: 15px;
min-width: fit-content;
min-height: fit-content;
&:hover {
border-color: #1d9ff8;
}
}
}
.ut-2-icon-example {
display: flex;
margin: 0 auto;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
background: #efefef;
i {
font-size: 1.2rem;
}
}
.ab-overflow-table {
display: block;
overflow-x: auto;
white-space: nowrap;
textarea {
width: 100%;
min-width: 220px;
}
}
.logos-section .attach-images .upload-box .image {
background-color: #eef1f3;
}
.ut2-highlighted-setting-row {
background: rgba(255, 25, 25, .1);
}
[id="settings.abt__ut2.products.view.show_sticky_panel_add_to_cart.mobile"] {
option[value="top"] {
display: none;
}
}
.abt__ut2_dbutton {
display: flex;
flex-wrap: nowrap;
white-space: nowrap;
align-items: center;
label {
margin-right: 20px;
display: initial;
}
}
@media screen and (max-width: 768px) {
#abt__ut2_demo_data_form {
.table-responsive td {
&:before {
display: none;
}
&:not(.abt__ut2_dbutton) {
font-weight: bold;
}
}
}
}
form[name="abt__unitheme2_less_settings_form"] {
.btn.dropdown-toggle.btn-link.link--monochrome {
background: #f1f5fa;
.cs-icon.flag {
margin-right: 5px;
}
}
.cs-icon.flag {
width: 20px;
height: 20px;
border-radius: 100%;
}
}
select[id*="settings.abt__ut2.product_list.show_you_save.mobile"] {
option[value*="full"] {
display: none;
}
}
span[data-ca-target-id*="_Black"], a[name="Black.less"] span.flag {
background: black;
}
span[data-ca-target-id*="_Blue"], a[name="Blue.less"] span.flag {
background: linear-gradient(135deg, #d9f5ff 50%, #105990 50%);
}
span[data-ca-target-id*="_Brick"], a[name="Brick.less"] span.flag {
background: linear-gradient(135deg, #ea5920 50%, #00bcd4 50%);
}
span[data-ca-target-id*="_Cobalt"], a[name="Cobalt.less"] span.flag {
background: linear-gradient(135deg, #007aff 50%, #0656b2 50%);
}
span[data-ca-target-id*="_Dark_Blue"], a[name="Dark_Blue.less"] span.flag {
background: linear-gradient(135deg, #24488e 50%, #ffe000 50%);
}
span[data-ca-target-id*="_Dark_Navy"], a[name="Dark_Navy.less"] span.flag {
background: linear-gradient(135deg, #4a5259 50%, #00bcd4 50%);
}
span[data-ca-target-id*="_Default"], a[name="Default.less"] span.flag {
background: linear-gradient(135deg, #ffde03 50%, #07c 50%);
}
span[data-ca-target-id*="_Fiolent"], a[name="Fiolent.less"] span.flag {
background: #4651a7;
}
span[data-ca-target-id*="_Flame"], a[name="Flame.less"] span.flag {
background: #be0318;
}
span[data-ca-target-id*="_Gray"], a[name="Gray.less"] span.flag {
background: linear-gradient(135deg, #f0f0f0 50%, #039be5 50%);
}
span[data-ca-target-id*="_Green"], a[name="Green.less"] span.flag {
background: #43b02a;
}
span[data-ca-target-id*="_Indigo"], a[name="Indigo.less"] span.flag {
background: linear-gradient(135deg, #1dbc9b 50%, #792c9b 50%);
}
span[data-ca-target-id*="_Ink"], a[name="Ink.less"] span.flag {
background: #1d365d;
}
span[data-ca-target-id*="_Lime_dark"], a[name="Lime_dark.less"] span.flag {
background: linear-gradient(135deg, transparent 60%, #191919 60%), linear-gradient(135deg, #191919 40%, #82d126 40%);
}
span[data-ca-target-id*="_Malachite"], a[name="Malachite.less"] span.flag {
background: linear-gradient(135deg, #1f1f1f 50%, #00a738 50%);
}
span[data-ca-target-id*="_Malachite_dark"], a[name="Malachite_dark.less"] span.flag {
background: linear-gradient(135deg, transparent 60%, #1e1e1e 60%), linear-gradient(135deg, #1e1e1e 40%, #00a738 40%);
}
span[data-ca-target-id*="_Mint"], a[name="Mint.less"] span.flag {
background: #9ee0e1;
}
span[data-ca-target-id*="_Orange"], a[name="Orange.less"] span.flag {
background: linear-gradient(135deg, #ff6800 50%, #0b9d11 50%);
}
span[data-ca-target-id*="_Orange_dark"], a[name="Orange_dark.less"] span.flag {
background: linear-gradient(135deg, transparent 60%, #1e1e1e 60%), linear-gradient(135deg, #1e1e1e 40%, #ff6800 40%);
}
span[data-ca-target-id*="_Original"], a[name="Original.less"] span.flag {
background: linear-gradient(135deg, #363636 50%, #00a9aa 50%);
}
span[data-ca-target-id*="_Powder"], a[name="Powder.less"] span.flag {
background: #f67055;
}
span[data-ca-target-id*="_Purple"], a[name="Purple.less"] span.flag {
background: #3700b3;
}
span[data-ca-target-id*="_Purple_dark"], a[name="Purple_dark.less"] span.flag {
background: linear-gradient(135deg, transparent 60%, #0c1116 60%), linear-gradient(135deg, #20262e 40%, #6f40c9 40%);
}
span[data-ca-target-id*="_Skyfall"], a[name="Skyfall.less"] span.flag {
.box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.3));
background: linear-gradient(135deg, white 50%, #1ec5ef 50%);
}
span[data-ca-target-id*="_Velvet"], a[name="Velvet.less"] span.flag {
background: linear-gradient(135deg, #666 50%, #e6ac00 50%);
}
span[data-ca-target-id*="_White"], a[name="White.less"] span.flag {
.box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.3));
background: linear-gradient(135deg, white 50%, black 50%);
}
.input-prepend--abt__ut2_multicolor {
margin-top: 10px;
input[type="checkbox"] {
align-self: center;
margin-left: 10px;
}
}
[id^="box_feature_variants"] td, [id^="box_add_variants"] td{
&[data-type="default"] {
.second-color, .variant-color-image {
display: none;
}
}
&[data-type="thumbnail"] {
.second-color, .first-color {
display: none;
}
~ td {
vertical-align: top;
}
}
&[data-type="multicolor"] .variant-color-image {
display: none;
}
}
